{% extends "base.html" %}

{% block title %}Generar Documento{% endblock %}

{% block content %}

<h1 class="mb-4">Actualizar archivo</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<form method="POST" enctype="multipart/form-data" class="mb-5">
    <div class="mb-3">
        <input type="file" name="archivo" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Subir y procesar</button>
</form>

{% if datos %}
<h2>Fechas encontradas por sede:</h2>
<div class="mb-3">
    <label for="sedeSelect" class="form-label">Selecciona una sede:</label>
    <select class="form-select" id="sedeSelect">
        <option value="">-- Selecciona una sede --</option>
        {% for sede in datos %}
        {% if datos[sede]|length > 0 %}
        <option value="{{ sede }}">{{ sede }}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>

<form method="POST" action="{{ url_for('actualizar_fechas') }}">
    <input type="hidden" name="archivo_original" value="{{ archivo_subido }}">
    {% for sede, bloques in datos.items() %}
    <div class="sede-fechas" data-sede="{{ sede }}" style="display: none;">
        <h4 class="sede-title">{{ sede }}</h4>
        {% for bloque, fechas in bloques.items() %}
        <div class="bloque-title">{{ bloque }}</div>
        {% for item in fechas %}
        {% set idx = loop.index0 %}
        {% if not item.es_precio %}
        <label>{{ item.etiqueta }}:</label><br />
        <div class="input-pair mb-3">
            <input type="hidden" name="meta-{{ sede }}-{{ bloque }}-{{ idx }}-etiqueta" value="{{ item.etiqueta }}">
            <input type="hidden" name="original-{{ sede }}-{{ bloque }}-{{ idx }}" value="{{ item.original }}">
            <input type="date" name="fecha_inicio-{{ sede }}-{{ bloque }}-{{ idx }}" min="{{hoy}}"
                class="form-control d-inline-block" style="width:auto;" value="{{ item.fecha_inicio }}"
                id="fecha_inicio-{{ sede }}-{{ bloque }}-{{ idx }}"
                onchange="actualizarFechaFinMin('{{ sede }}', '{{ bloque }}', '{{ idx }}')" />

            {% if item.fecha_fin %}
            <input type="date" name="fecha_fin-{{ sede }}-{{ bloque }}-{{ idx }}" min="{{hoy}}"
                class="form-control d-inline-block" style="width:auto;" value="{{ item.fecha_fin }}"
                id="fecha_fin-{{ sede }}-{{ bloque }}-{{ idx }}" />
            {% endif %}
        </div>

        {% else %}
        <div class="input-pair mb-3">
            <label>{{ item.etiqueta }}:</label><br />
            <input type="hidden" name="original-precio-{{ sede }}-{{ bloque }}-{{ idx }}" value="{{ item.original }}">
            {% if item.precio_base %}
            <label>Precio base:</label>
            <input type="number" class="form-control d-inline-block" style="width:auto;"
                name="precio_base-{{ sede }}-{{ bloque }}-{{ idx }}" min="0" value="{{ item.precio_base}}" />

            <label>Impuesto (%):</label>
            <input type="number" class="form-control d-inline-block input-disabled" style="width:auto;"
                name="porcentaje_impuesto-{{ sede }}-{{ bloque }}-{{ idx }}" value="{{ item.porcentaje_impuesto}}"
                readonly />

            <label>Precio total:</label>
            <input type="number" class="form-control d-inline-block input-disabled" style="width:auto;"
                name="precio_total-{{ sede }}-{{ bloque }}-{{ idx }}" value="{{ item.precio_total}}" readonly />

            {% endif %}
        </div>
        {% endif %}

        {% endfor %}

        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success mt-4">Guardar cambios</button>
</form>
{% endif %}

<script>
    document.getElementById("sedeSelect").addEventListener("change", function () {
        const sedeSeleccionada = this.value;
        document.querySelectorAll(".sede-fechas").forEach(div => {
            if (div.getAttribute("data-sede") === sedeSeleccionada) {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        });
    });


    function actualizarFechaFinMin(sede, bloque, idx) {
        // Obtener la fecha de inicio seleccionada
        const fechaInicio = document.getElementById(`fecha_inicio-${sede}-${bloque}-${idx}`).value;
        
        // Si la fecha de inicio es válida, actualizar el min de la fecha de fin
        if (fechaInicio) {
            const fechaFinInput = document.getElementById(`fecha_fin-${sede}-${bloque}-${idx}`);
            fechaFinInput.setAttribute('min', fechaInicio);
            
            // Si la fecha_fin ya está seleccionada y es anterior a la nueva fecha mínima, actualizarla también
            const fechaFin = fechaFinInput.value;
            if (fechaFin && fechaFin < fechaInicio) {
                fechaFinInput.value = '';
            }
        }
    }
</script>
{% endblock %}