{% extends "base.html" %}

{% block title %}Transacciones{% endblock %}

{% block content %}
<h1>Historial de Archivos Actualizados</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% if archivos %}
<div class="archivo-lista">
    {% for archivo in archivos %}
    <div class="archivo-cuadro">
        <span class="archivo-nombre">{{ archivo }}</span>
        <a class="boton-descargar" href="{{ url_for('descargar_transaccion', nombre_archivo=archivo) }}">Descargar</a>
    </div>
    {% endfor %}
</div>

{% else %}
<label>No hay archivos disponibles.</label>
{% endif %}

{% endblock %}